
 <div class="row" >
    <div class="col-lg-4">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle" ng-src="{{profile.avatar}}" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                
                      <div class="well" ng-show="profile">
                        <form role="form" class="settings" ng-submit="vm.updateme()" enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="settings__email">Email</label>
                            <input type="text" class="form-control" id="settings__username" ng-model="vm.profile.email" placeholder="ex. john@example.com" />
                          </div>

                          <div class="form-group">
                            <label for="settings__password">New Password</label>
                            <input type="password" class="form-control" id="settings__password" ng-model="vm.profile.password" placeholder="ex. notgoogleplus" />
                          </div>

                          <div class="form-group">
                            <label for="settings__confirm-password">Confirm Password</label>
                            <input type="password" class="form-control" id="settings__confirm-password" ng-model="vm.profile.confirm_password" placeholder="ex. notgoogleplus" />
                          </div>

                          <div class="form-group">
                            <label for="settings__username">Username</label>
                            <input type="text" class="form-control" id="settings__username" ng-model="vm.profile.username" placeholder="ex. notgoogleplus" />
                          </div>

                          <div class="form-group">
                            <label for="settings__first_name">First Name</label>
                            <textarea class="form-control" id="settings__first_name" ng-model="vm.profile.first_name" placeholder="ex. John." />
                          </div>

                          <div class="form-group">
                            <label for="settings__last_name">Last Name</label>
                            <textarea class="form-control" id="settings__last_name" ng-model="vm.profile.last_name" placeholder="ex. Smith." />
                          </div>


                          <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            
                          </div>
                        </form>
                      </div>
                   
            </div>
        </div>

    </div>

</div>

